#header-img {
    width: 100px;
    height: 100px;
}

header {
    color: #5d0707;
}

@media only screen and (max-width: 600px) {

    body {
        background-color: lightblue;
    }
}

.container {
    display: flex;
}
#nav-bar{
    position: fixed;
    top: 0;
    left: 0;    
}